$color1 : #145858;
$st-background: unset;
$st-border: 1px solid green !important;
$st-anchor-default-primary-color: #60bef5 !important;
$st-anchor-default-secondary-color: #dbe0e5;
$st-anchor-active-primary-color: red;
$st-anchor-active-secondary-color: #ffffff;
$st-anchor-disabled-primary-color: #eeeeee;
$st-anchor-disabled-secondary-color: #dbe0e5;
$st-loader-color: #009EF7;
$st-loader-background-color: #f8f9fa;
$st-loader-background-wrapper-color: rgba(255, 255, 255, 0.7);